  
 body {
  height:2000px;
  } 
  
 .amine {
   width:auto;
   height:300px;
   background-color:rgba(183,0,0,1);
   border: 2px solid #000;
   margin-top:-10px;
  } 
  
  /* this is for about */ 
 .about {
   padding:40px 0;
   
  }
  
  
 .about span {
   color : #ff0000;
   text-transform: uppercase;
  }
  
 /* this is for feutures */
 
 .features {
  padding-top:40px;
  padding-bottom:40px;
  background-color : #EEE;
 }
  
 .feuture {
   margin-top :12px;
  } 
 .features h2 {
  padding-bottom:15px;
 }
 
 .features span.glyphicon  {
   font-size:22px;
   color:#3F3E3E;
   margin-bottom:15px;
  
 }
 .features p {
  font-size:14px;
  line-height:2em;
 }
 
 .features h4 {
  font-weight : bolder;
 }
 
 /* testimonials */
 

 .testimonials h2 {
  padding-top:40px;
  padding-bottom:40px;
  font-weight:bold;
 }
  
 .testimonials span {
  
  font-size:20px;
  font-weight:bold;
  color:#7A0202
  
  } 
 .testimonials .carousel-indicators {
  
  position:static;
  width:100%;
  margin:auto;
  
 }
 .testimonials .carousel-indicators li {
  
  margin-top:16px;
  width:80px;
  height:80px;
  border-radius:50%;
  border:3px solid #FFF;
  overflow:hidden;
  text-indent:0;
  opacity:.5;
 }
 .testimonials .carousel-indicators li.active {
  
  background-color:#FFF;
  border-radius:50%;
  border:3px solid #ff0000;
  opacity:1;
  
  
  } 
  
 /************************** Start Overriding Boostrape **************************/  
  
  
 /*start style of navbar */
 
 .navbar-inverse {
    background-color:#000;
    
 }
 /*end style of navbar */
 
 /* star Nav Bar Brand */
  
  .navbar-brand {
    font-size : 20px;
    color:#BBB;
  }
  .navbar-brand span {
    color:#ff0000;
  }
  
 /* End Nav Bar Brand */ 
 
/* start style of link */

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
{
    background-color:#ff0000;
    
}

.navbar-inverse .navbar-nav > li > a
{
    color:#BBB;
    
}

/* end style of link */  

/* start style of drapdown menu */
.navbar-nav > li > .dropdown-menu {
    
border-top:1px solid #ff0000;    
}

.dropdown-menu {
   background-color:#080808;
   min-width:190px;
  
}
 .navbar-right .dropdown-menu {
    right: auto;
    left: 0;
}
.dropdown-menu > li > a {
    color:#BBB;
    padding:6px 20px;
   -webkit-transition: padding .5s ease;
   -moz-transition: padding .5s ease;
   -o-transition: padding .5s ease;
   transition: padding .5s ease;
    
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus  {
   
   background-color: #ff0000;
   color:#FFF;
   padding-left:26px;
}

.dropdown-menu .divider {
   background-color: #490000
}
 
/* end style of drapdown menu */



/************************** End Overriding Boostrape **************************/








