 
 /*start style of navbar */ 
 .navbar-inverse {
    background-color:#000;
    
 }
 /*end style of navbar */
 
 /* star Nav Bar Brand */
  
  .navbar-brand {
    font-size : 20px;
    color:#BBB;
  }
  .navbar-brand span {
    color:#ff0000;
  }
  
 /* End Nav Bar Brand */ 
 
/* start style of link */

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
{
    background-color:#ff0000;
    
}

.navbar-inverse .navbar-nav > li > a
{
    color:#BBB;
    
}

/* end style of link */  

/* start style of drapdown menu */
.navbar-nav > li > .dropdown-menu {
    
border-top:1px solid #ff0000;    
}

.dropdown-menu {
   background-color:#080808;
   min-width:190px;
  
}
 .navbar-right .dropdown-menu {
    right: auto;
    left: 0;
}
.dropdown-menu > li > a {
    color:#BBB;
    padding:6px 20px;
   -webkit-transition: padding .5s ease;
   -moz-transition: padding .5s ease;
   -o-transition: padding .5s ease;
   transition: padding .5s ease;
    
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus  {
   
   background-color: #ff0000;
   color:#FFF;
   padding-left:26px;
}

.dropdown-menu .divider {
   background-color: #490000
}
 
 
 
/* end style of drapdown menu */ 